# Python
__pycache__/
*.py[cod]
*$py.class
test.py

# Distribution / packaging
dist/
build/
*.egg-info/
.pypirc

# Virtual Environment
venv/
env/
.env/

# IDE
.vscode/
.idea/
*.swp

# Test
.pytest_cache/

# Config
config/

# History
.history/

# Local development
.DS_Store
Thumbs.db